{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

<!DOCTYPE html>

<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
  <head>
    {% block head %}
      <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
      <meta charset="UTF-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      {% include 'partials/metadata.html.twig' %}

      <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />

      {% block stylesheets %}
        {% do assets.addCss('theme://css/custom.css', 100) %}
      {% endblock %}
      {{ assets.css() }}

      {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
      {% endblock %}
      {{ assets.js() }}

    {% endblock %}
  </head>
  <body>
    {% block header %}
      <div class="navbar">
        <img class="logo" src="#"/>

        {% block header_navigation %}
          <nav class="menu">
            {% include 'partials/navigation.html.twig' %}
          </nav>
        {% endblock %}
      </div>
    {% endblock %}

    {% block body %}
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    {% endblock %}

    {% block footer %}
      <div class="footer">
        <div class="contact">
          <div class="contact-info">
            <h3> VICE </h3>
            <p> <strong>Location:</strong> AMS Nest 3107, UBC <br>
                <strong>Office Hours:</strong> Tue, Thu: 13:30 - 15:30 <br> or by Appointment <br>
                <strong>Email:</strong> vice@ams.ubc.ca <br>
                <strong>Phone Number:</strong> 604-827-1728
            </p>
          </div>
          <div class="contact-info">
            <h3> Speakeasy </h3>
            <p> <strong>Location:</strong> AMS Nest 3107, UBC <br>
                <strong>Office Hours:</strong> Mon - Fri: 11:00 - 19:00 <br> or by Appointment <br>
                <strong>Email:</strong> speak@ams.ubc.ca <br>
                <strong>Phone Number:</strong> 604-822-9246
            </p>
            <p>
          </div>
        </div>
        <div class="copyright">
          <hr>
          <p> Copyright &copy 2017 VICE and Speakeasy. All Rights Reserved.</p>
        </div>
      </div>
    {% endblock %}
  </body>
</html>
